# Env
.env
.env.local
.env.*.local

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Backend
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# General
node_modules/
.next/
__pycache__/
*.pyc