DATABASE_URL=
JWT_SECRET=
CORS_ORIGINS=http://localhost:3000
ENVIRONMENT=development
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
EMAIL_SEND_ENABLED=false
EMAIL_PROVIDER=mock
MYSQL_SSL_ENABLED=false
MYSQL_SSL_CA=
